@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


body {
  background-color: rgb(158, 180, 167);
}

button {
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 17px;

}

button:hover {
  background-color: aliceblue;
  transition: 150ms;
}
