@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: rgb(158, 180, 167);
}
<<<<<<< HEAD

button {
  background-color: white;
  width: 100px;
  height: 40px;
  border-radius: 17px;

}

button:hover {
  background-color: aliceblue;
  transition: 150ms;
  scale: 1.1;
}
=======
>>>>>>> 00556022eb7e277d8367570645233e5465fcf4d2
